mixin weightDescription(perf)
    if perf.tower
        span  (#{perf.tower.Cwt}-#{perf.tower.Qu}-#{perf.tower.Lb})
    else
        span  (#{perf.HandbellSize} in #{perf.HandbellNote})

doctype html
html(lang="en")
    head
        title Ringing Records
        link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")

    body
        h1.text-center Simon Bond's Ringing Records
        .well(style="margin: 15px")
            span Total #{totalRows} changes in
            if countP
                span  #{countP} peals
            if countP && countQ
                span  and
            if countQ
                span  #{countQ} quarters
            br
            form.form-inline
                .form-group
                    label(for="selLength") Length
                    select.form-control(id="selLength", name="length")
                        option(value="") All
                        option(value="quarter", selected=length=='quarter') Quarters
                        option(value="peal", selected=length=='peal') Peals
                .form-group
                    label(for="selYear") Year
                        select.form-control(id="selYear", name="year")
                            option(value="") All
                            for y in years
                                option(value=y, selected = year==y) #{y}

                button.btn View records


        each perf in performances
            .col-sm-6
                - var location = perf.tower ? perf.tower : perf.venue
                - var place2 = location.Place2 ? location.Place2 + ', ' : ''
                b #{location.Place.toUpperCase()}, #{place2}#{location.Dedicn}, #{location.County}
                br
                span #{perf.formatDate}
                if perf.Hours
                    span  in #{perf.Hours}h#{perf.Minutes}
                else if perf.Minutes
                    span  in #{perf.Minutes} mins
                +weightDescription(perf)
                br
                b: i #{perf.Length} #{perf.Method} #{perf.Stage}
                br
                br
                for ringer in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
                    if perf['Ringer' + ringer]
                        if perf.Hand
                            span #{ringer*2-1}-#{ringer*2} #{perf['Ringer' + ringer]}
                        else
                            span #{ringer} #{perf['Ringer' + ringer]}
                        if perf.Conductor == ringer
                            span  (C)
                        br
                if perf.Footnotes
                    br
                    span(style="white-space: pre-wrap") #{perf.Footnotes}
                br
                br